.graph-test-graph-container,
.graph-plot-input-container{
    text-align: center;
}

.graph-plot-input-container>textarea{
    width: 70%;
    height: 10vh;
    padding: 1vh;
    border: 1px solid lightgray;
    border-radius: 3vh;
    margin-bottom: 3vh;
}

.graph-test-graph-container>textarea{
    width: 80%;
    height: 15vh;
    padding: 1vh;
    border: none;
    border-radius: 3vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.graph-plot-image-container{
    width: 100%;
}

.graph-plot-image{
    width: 80%;
    margin-left: 10%;
    border: 3px solid lightgray;
    border-radius: 3vh;
}

.graph-plot-buttons-container{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.graph-plot-download-image-button,
.graph-plot-download-txt-button{
    border: none;
    background: darkgrey;
    padding: 2vh;
    border-radius: 3vh;
    max-width: 40%;
    font-size: 2vh;
    color: black;
    text-decoration: none;
    margin-right: 2vw;
    margin-left: 2vw;
}

.graph-plot-download-image-button{
    background: lightgrey;
}